svg {
  background-color: #eee;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #cc0000;
  font-family: sans-serif;
  font-size: 11px;
}
